body {
    background-color: #222222;
}

h1 {
    color: #999999;
}

.clicked {
    color: yellow;
    transition: color 0.5s ease-in-out;
}

.cursor {
    cursor: pointer;
}

.form,
.gretting {
    display: none;
}

.showing {
    display: block;
}


@keyframes fadeIn {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1.5s linear;
}